body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

header h1 {
    margin: 0;
}

header h1:hover {
    animation: titleHover 0.5s forwards;
}

@keyframes titleHover {
    0% {
        transform: scale(1);
        color: #fff;
    }
    50% {
        transform: scale(1.1);
        color: #ff8c00;
    }
    100% {
        transform: scale(1.2);
        color: #ff5733;
    }
}

#main-banner {
    position: relative;
    height: 400px;
    text-align: center;
    background: url('../images/image3.jpg') no-repeat center center/cover;
}

#main-banner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#main-banner h2 {
    margin-top: 150px;
    color: white;
    font-size: 2.5em;
}

#main-banner p {
    color: white;
}


#projects {
    padding: 20px;
    text-align: center;
}

.project-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project {
    margin: 10px;
    width: 30%;
    overflow: hidden;
}

.project img {
    width: 100%;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.1);
}

#newsletter {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
}

#newsletter form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#newsletter input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

#newsletter button {
    padding: 10px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .project {
        width: 45%;
    }
}

@media (max-width: 480px) {
    header nav ul {
        flex-direction: column;
    }

    .project {
        width: 90%;
    }

    #newsletter form {
        flex-direction: column;
    }

    #newsletter input {
        margin: 10px 0;
    }
}